<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/main.css">
        <link rel ="stylesheet" href="mobile.css" media="screen and (max-width : 767px)">
        <link rel ="stylesheet" href="tablet.css" media="screen and (min-width : 768px) and (max-width):959px)">
        <link rel ="stylesheet" href="desktop.css" media="screen and (max-width : 960px)">
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="/public/login.css" rel="stylesheet"> <!--css파일 삽입법-->
    <title>welcome</title>
    </head>

    <body>
        <nav class="navbar">
        

            <div class="bottom-nav">
                <div class="logo"><a href="/">TOURIST TOUR</a>
                </div>

                <ul class="menu">
                    <li><a href="">여행정보</a></li>
                    <li><a href="">고객센터</a></li>
                    <li><a href="">상품투어</a></li>
                    <li><a href="">티켓/가이드</a></li>
                </ul>
            </div>
        </nav>

        <ul id="toolbar">
            <li><a href="">전화문의<br>010-1234-5678</a></li>
            <li><a href="">카카오톡<br>1:1상담</a></li>
            <li><a href="">오시는 길</a></li>
            <li><a href=""> ▲<br>TOP</a></li>
        </ul>

        <div class="wrapper">
        <form action="/nodemailerTest" method="POST" class="form-signin">       
          <h2 class="form-signin-heading">&nbsp;&nbsp;&nbsp;이메일 인증 페이지</h2>
          <input type="text" class="form-control" name="email" placeholder="E-mail address(google)" required="" autofocus="" />
          <input type="password" class="form-control" name="pwd" placeholder="Password" required=""/>      
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">인증링크발송</button>
          <label>이메일에서 인증완료를 눌러 인증을 완료해주세요</label>
        
        </form>
        
      </div>

        <div class="bottom">
            <div class="consult">
                <a>
                <div class="consult__box">
                    <img src="images/ico_kakao.png" width="50" height=50>
                    <h2>카카오톡 1:1 상담</h2>
                </div>
                </a>
                <a>
                    <div class="consult__box">
                        <img src="images/ico_phone.png" width="50" height="50">
                        <h2>전화 상담 신청</h2>
                    </div>
                </a>
            </div>

            <div class="notice">
                <h3>NOTICE</h3>
                <ul class="notice__list">
                    <li><a href=""><span>이번 휴가 제주갈까? 미션 투어</span></a></li>
                    <li><a href=""><span>박물관 미션 투어 응모 당첨자 발표</span> </a></li>
                    <li><a href=""><span>추석 연휴 티켓/투어 배송 및 직접 수령</span></a></li>
                    <li><a href=""><span>하롱베이 서비스 OPEN!{여행 정보, 가이드}</span></a></li>
                    <li><a href=""><span>투어리스트인투어 서비스 점검 안내 </span></a></li>
                </ul>
            </div>
        </div>

        <hr>

        <footer>
            <ul class="info_list">
                <h3><a href="">이용약관</a> | <a href="">개인정보취급방침</a></h3>
                <li>투어리스트인투어</li>
                <li>서울특별시 종로구 혜화동 9길 청문빌딩 5층</li>
                <li><b>/</b></li>
                <li>대표전화 02-1234-5678</li>
                <li><b>/</b></li>
                <li>E-mail:titour@touristInTour.com</li>
                <li>Copyright(c) TouristInTour all right reserved</li>
            </ul>
            <div class="image_box">
                <a href=""><img src="images/ico_blog_r.png" width=50></a>
                <a href=""><img src="images/ico_face.png" width=50 style="padding-bottom:25px"></a>
                <a href=""><img src="images/ico_instargram_r.png" width=50></a>
            </div>
        </footer>

        <!-- 모바일기준 제작  -->
        <ul class="button">
            <li><a href="">전화문의</a></li>
            <li>|</li>
            <li><a href="">카카오톡 상담</a></li>
            <li>|</li>
            <li><a href="">오시는 길</a></li>
        </ul>

    </body>

</html>