<!DOCTYPE html>
<html lang="ko">

<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>공지사항 | 고객센터 | 투어 리스트 인 투어</title>
    <link rel="stylesheet" href="../public/css/swiper.min1.css" />
    <link rel="stylesheet" href="../public/css/common1.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=2">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<link rel="stylesheet" href="/public/css/slick.css">
	<link rel="stylesheet" href="/public/css/animate.css">
	<link rel="stylesheet" href="/public/css/common.css">
	<link rel="stylesheet" href="/public/css/rwd.css">
  <link rel="stylesheet" href="/public/css/edit.css">
	<script src="/public/js/jquery-1.12.4.min.js"></script>
	<script src="/public/js/jquery-migrate-1.4.1.min.js"></script>
	<script src="/public/js/slick.min.js"></script>
	<!--[if lte IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/prefixfree.min.js"></script>
<![endif]-->
	<style>
		#header a{
			color: white;
		}
	</style>
</head>

<body>
	<div id="wrap">

		<div class="skipnav"><a href="#container">본문 바로가기</a></div>

		<header id="header" class="">
			<div class="header_area row cf">
				<h1><a href="/newpage">Tourist in tour</a></h1>
				<p class="openMOgnb">
					<a href="#none">
						<strong class="blind">메뉴열기</strong>
						<span></span>
						<span></span>
						<span></span>
					</a>
				</p>
				<div class="header_cont">
					<ul class="util">
						<li><a href="/logout">로그아웃</a></li>
            			<li><a href="/mypage">마이페이지</a></li>
					</ul>
					<nav>
						<ul class="depth1"> 
							<li><a href="#" class="openAll1">여행정보</a>
								<div class="dep2box">
								<ul class="depth2 row">
									<li><a href="#">국내</a></li>
									<li><a href="#">해외</a></li>
								</ul>
							</div>
							</li>
							<li><a href="#" class="openAll2">고객센터</a>
								<div class="dep2box">
								<ul class="depth2 row">
									<li><a href="/list">공지사항</a></li>
									<li><a href="/write">문의하기</a></li>
								</ul>
							</div>
							</li>
							<li><a href="#" class="openAll3">상품투어</a>
								<div class="dep2box">
								<ul class="depth2 row">
									<li><a href="program.html">프로그램 소개</a></li>
									<li><a href="#">여행자료</a></li>
								</ul>
							</div>
							</li>
							<li><a href="#" class="openAll4">티켓/가이드</a>
								<div class="dep2box">
								<ul class="depth2 row">
									<li><a href="#">항공</a></li>
									<li><a href="#">호텔</a></li>
								</ul>
								</div>
							</li>
						</ul>
					</nav>
					<p class="closeMOgnb">
						<a href="#none">
							<strong class="blind">메뉴닫기</strong>
							<span></span>
							<span></span>
						</a>
					</p>
				</div>
			</div>
		</header>

		<div class="location_area customer">
			<div class="box_inner">
			  <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
			  <p class="location">
				공지사항 <span class="path">/</span> 고객센터
			  </p>
			  <ul class="page_menu clear">
				<li><a href="#" class="on">공지사항</a></li>
				<li><a href="#">문의하기</a></li>
			  </ul>
		</div>
		</div>



    <div class="join_form row">
      <form action="/edit?_method=PUT" method="POST" class="form-signin" >
        <fieldset>
          <legend>수정 양식</legend>
          <p class="info_pilsoo pilsoo_item"></p>
          <ul class="app_list">
            <li class="cf">
              <label for="name_lbl" class="tit_lbl">제목</label>
              <div class="app_content">
				<input type = "text" value="<%= post._id %>" name="id" style="display: none;">
                <input type="text" id="name_lbl" name="title" value="<%= post.제목 %>">
              </div>
            </li>
			<li class="cf">
			  <label for="" class="tit_lbl">내용</label>
			  <div class="app_content">
				  <textarea id="query" name="descript"><%= post.내용 %></textarea>
			  </div>
			</li>
          </ul>
			  </fieldset>
			  <p class="btn">
				<input type="submit" value="수정">
				<input type="reset" value="취소" onClick="location.href='/list'">
			  </p>
      </form>
    </div>


		<footer>
			<div class="foot_area row">
				<ul class="foot_list">
					<li><a href="javascript:;">이용약관</a></li>
					<li><a href="javascript:;">개인정보취급방침</a></li>
				</ul>
				<br/><br/>
				<h2>투어리스트인투어</h2>
				<p class="addr">서울특별시 종로구 혜화동 9길 청운빌딩 5층 <span class="gubun">/</span>
					<span class="br_line">대표전화 <span class="space0">02-1234-5678</span> <span class="gubun">/</span>
						<span class="br_line">E-mail : <span class="space0"> titour@touristintour.com</span></span>
					</span>
				</p>
				<p class="copy">Copyright(c) TouristInTour all right reserved</p>
				<ul class="snslink">
					<li><a href="javascript:;">blog</a></li>
					<li><a href="javascript:;">facebook</a></li>
					<li><a href="javascript:;">instargram</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<h2 class="blind">빠른 링크 : 전화 문의,카카오톡,오시는 길,꼭대기로</h2>
	<div class="quick_area">
		<ul class="quick_list cf">
			<li><a href="tel:010-7184-4403">
					<h3>전화 문의</h3>
					<p>010-1234-5678</p>
				</a></li>
			<li><a href="javascript:;">
					<h3>카카오톡 <em>상담</em></h3>
					<p>1:1상담</p>
				</a></li>
			<li><a href="javascript:;">
					<h3 class="to_contact">오시는 길</h3>
				</a></li>
		</ul>
		<p class="to_top"><a href="#none" class="s_point">TOP</a></p>
	</div>

	<script src="/public/js/myscript.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</body>
</html>