@charset "utf-8";
@import url('layout_base.css');

/* common */
* { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: inherit; }
ul, ol, li { list-style: none; }
.clear:after { content: ""; display: block; clear: both; }
.box_inner { width: 1050px; margin: 0 auto; }
.hdd, legend { font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden; visibility: hidden; position: absolute; top: 0; left: 0; }
img { vertical-align: middle; }
body { line-height: 1; font-family: "Malgun Gothic", "맑은 고딕"; letter-spacing: -1px; color: #444; white-space: normal; word-wrap: break-word; }
input, select, textarea, button, form img, label { vertical-align: middle; }
img, fieldset, a {border: none;}
table, thead, tbody, tfoot { border-collapse: collapse; border-spacing: 0; border: 0 none;}

.but{
    text-align: center; font-size: 0; 
    display: inline-block; width: 125px; height: 50px; line-height: 50px; background-color: #384d75; font-size: 20px; color: #fff !important;
    margin-left: 45%; margin-top: 10px; margin-bottom: 10px;
}
.btn_line { text-align: center; font-size: 0; }
.btn_line a { margin-left: 10px; }
.btn_line a:first-child { margin-left: 0; }
.btn_srch { display:inline-block; width: 70px; text-align: center; height: 35px; font-size: 14px; line-height: 35px; vertical-align: middle; background: #384d75; color: #fff !important; }
.btn_bbs { display: inline-block; width: 70px; text-align: center; height: 35px; font-size: 14px; line-height: 35px; vertical-align: middle; background-color: #384d75; color: #fff !important; }
.btn_baseColor { display: inline-block; width: 125px; height: 50px; line-height: 50px; background-color: #384d75; font-size: 20px; color: #fff !important; }

input[type=checkbox].css-checkbox {
    overflow: hidden; 
    position: absolute; left:-1000; width: 1px; height: 1px;
}
input[type=checkbox].css-checkbox + label {
    display: inline-block; height: 20px; padding-left: 30px !important; line-height: 20px !important; background: url(../img/bg_checkbox.png) no-repeat 0 0;
    background-size: 20px; cursor: pointer; vertical-align: middle; font-size: 15px;

}
input[type=checkbox].css-checkbox:checked + label {
    background-position: 0 -20px;
}

/*
    radio button Design 
*/

input[type=radio].css-radio {
    overflow: hidden; 
    position: absolute; left:-1000; width: 1px; height: 1px;
}
input[type=radio].css-radio + label {
    display: inline-block; padding-left: 20px !important; margin-right: 20px; background: url(../img/bg_radio.png) no-repeat 0 0; cursor: pointer; vertical-align: middle; font-size: 15px;

}
input[type=radio].css-radio:checked + label {
    background-position: 0 -50px;
} 

input::-ms-input-placeholder {color:#999;}
input::-webkit-input-placeholder {color:#999;}
input::-moz-placeholder {color:#999;}
textarea::-ms-input-placeholder {color:#999;}
textarea::-webkit-input-placeholder {color:#999;}
textarea::-moz-placeholder {color:#999;}

input[type=text] { box-sizing: border-box;  display: inline-block; height: 45px; padding: 0 10px; border:1px solid #ccc; background-color: #fff; line-height: normal; font-size: 15px;}
input[type=number] { box-sizing: border-box; display: inline-block; height: 45px; padding: 0 10px; border:1px solid #ccc; background-color: #fff; line-height: normal; font-size: 15px; }
input[type=password] { box-sizing: border-box; display: inline-block; height: 45px; padding: 0 10px; border:1px solid #ccc; background-color: #fff; line-height: normal; font-size: 15px; }
input[type=tel] { box-sizing: border-box; display: inline-block; height: 45px; padding: 0 10px; border:1px solid #ccc; background-color: #fff; line-height: normal; font-size: 15px; }
input[type=mail] { box-sizing: border-box; display: inline-block; height: 45px; padding: 0 10px; border:1px solid #ccc; background-color: #fff; line-height: normal; font-size: 15px; }
textarea { box-sizing: border-box; padding: 10px; border: 1px solid #ccc; }
select { -webkit-appearance:none; height: 30px; padding: 0 5px; box-sizing: border-box 1px solid #ccc; }

.select_common { display: inline-block; box-sizing: border-box; position: relative; width: 158px; height: 35px; overflow:hidden; border: 1px solid #ccc;
background:url(../img/ico_selectArr.png) no-repeat 100% 50% }

.select_common select { display: inline-block; width: 185px; height: 29px; padding: 0 10px; border:none; background: none; font-size: 15px; }

input[type=radio].css_radio {
    overflow: hidden; 
    position: absolute; left:-1000; width: 1px; height: 1px;
}
input[type=radio].css_radio + label {
    display: inline-block; padding-left: 20px !important; margin-right: 20px; background: url(../img/bg_radio.png) no-repeat 0 0; cursor: pointer; vertical-align: middle; font-size: 15px;

}
input[type=radio].css_radio:checked + label {
    background-position: 0 -50px;
}

/* sub_page */
.location_area { height: 445px; background: url(../img/img_top2.jpg) no-repeat center bottom; }
.location_area.member { background-image: url(../img/img_top5.jpg);}
.location_area.package { background-image: url(../img/img_top3.jpg);}

.location_area h2.tit_page { padding: 250px 0 0 0; margin: 0 50px; border-bottom: 1px solid #ccc; font: 30px "Arial Narrow"; color: #fff; letter-spacing: 3px; }
.location_area h2.tit_page .in { font-variant: small-caps; }
.location_area p.location { padding: 20px 0 0 50px; color: #fff; }
.location_area ul.page_menu { display:none; }
.bodytext_area { box-sizing: border-box; padding: 55px 50px 0; }
/* .btn_line a.btn_app { height: 37px; line-height: 37px; margin-left: 100px; font-size: 14px; }   */

/* MyPage */
.myinfo dt { width: 170px; height: 70px; line-height: 70px; text-align: center; background-color: #dfe3ea; font-size: 18px; background: #000; color: #fff;}
.myinfo dd { border-top: 2px solid #000; }
.regForm .reg_list { padding: 10px 0 0; background: url(../img/bg_reglist.png) repeat-y;}
.regForm .reg_list li { min-height: 60px; padding:0; border-bottom: 1px solid #ccc; }
.regForm .reg_list li .tit_lbl { position: relative; float: left; width: 150px; box-sizing: border-box; padding-left: 20px; line-height: 60px; font-weight: bold; font-size: 16px; }

.regForm .reg_list li .reg_content { float: right; width: 770px; box-sizing: border-box; padding-left: 20px; padding-top: 25px; font-size: 15px; }
.regForm .reg_list li .reg_content * { vertical-align: middle; }
.regForm .reg_list li .reg_content.radio_area { padding-top: 20px; }
.regForm .reg_list li .reg_content label { vertical-align: middle; }
.regForm .reg_list li .reg_content .info_line { padding: 10px 10px 17px 0; font-size: 15px; }
.reg_content {
    vertical-align: middle;
    margin-bottom: 30px;
}