body {
    font-family: 'Roboto', sans-serif;
    color: rgb(85,75,85);
    background-color: rgb(255,255,255);
  }

  .navbar a {
    
    white-space: nowrap;
}


#toolbar a {
    color: white;
    white-space: nowrap;
}

.blank {
  padding: 20px;
}