body {
    font-family: 'Roboto', sans-serif;
    color: rgb(85,75,85);
    background-color: rgb(255,255,255);
  }

  .blank {
    padding: 20px;
  }
  .navbar a {
    
    white-space: nowrap;
}


#toolbar a {
    color: white;
    white-space: nowrap;
}